*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100%;
    background-color: rgba(255, 10, 255, 0.8);
    color: white;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}
#title,#description{
    text-align: center;
    margin: 10px  0;
    color: white;
}
#title{
    color: #9000F9;
}
#survey-form{
    border-radius: 10px;
    background-color: #9000F9;
    width: 70vw;
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    padding: .5px 10px 15px 10px
}
fieldset {
    border: none;
    position: relative;
    padding-bottom: 2rem;
    margin: 2rem 0;
}
fieldset::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px; 
    background: linear-gradient(to right,  rgba(255, 10, 255, 0.8), red);
}
legend{
    padding-bottom: 10px;
}
label{
    display: block;
    margin: 0.5rem 0;
}
textarea,select,input{
    width: 100%;
    margin: 10px 0 0 0;
    min-height: 2em;
}
input,textarea,select{
    background-color: blue;
    color: white;
    border: 2px solid rgba(255, 10, 255, 0.8);
    padding: 10px;
    outline: none;
}
input:focus,textarea:focus,select:focus{
    outline:2px solid red;   
}
textarea::placeholder,input::placeholder {
    color: white;
    font-style: italic;
}
.inline{
    display: inline;
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
input[type='file']{
    cursor: pointer;
}
fieldset:last-of-type{
    border: none;
}
a{
text-decoration: none;
}
#submit{
margin:  2rem auto  1rem auto;
text-align: center;
cursor: pointer;
width: 60%;
display: block;
height: 2em;
font-size: 1.1rem;
background-color: #9000F9;
color: white;
border: 2px solid hsl(302.35, 49.08%, 52%, 0.8);;
max-width: 300px;
}
#submit:hover{
background-color: rgba(255, 10, 255, 0.8);
border: 2px solid red;;
}